*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: sans-serif;
}

section{
    box-sizing: border-box;
}

.borderedge{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
    
}

.edge{
    position: relative;
    width: 300px;
    height: 400px;
     background: linear-gradient(45deg,#00f376 10%,
    transparent 10%, transparent 50%,#00f376 50%,#00f376 60%,
    transparent 60%, transparent 100%); 
     background-size: 15px 15px;
    box-shadow: 0 0 0 10px black,0 0 0 14px #00f376; 
    animation: edgeani 0.5s linear infinite;
}

.try{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
    margin-left: -40px;
    margin-top: -20px;
}

.edgemiddle{
    position: relative;
    width: 300px;
    height: 400px;
     background: linear-gradient(45deg,#00f376 10%,
    transparent 10%, transparent 50%,#00f376 50%,#00f376 60%,
    transparent 60%, transparent 100%); 
     background-size: 15px 15px;
    box-shadow: 0 0 0 10px black,0 0 0 14px #00f376; 
}

.edgemiddle::before
{
    content: "Text";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    position: absolute;
    inset: 20px;
    background: black;
}
.edgemiddle::after
{
    content: "";
    position: absolute;
    inset: 30px;
    border: 3px dotted #00f376;
}

.edge::before
{
    content: "";
    position: absolute;
    inset: 20px;
    background: black;
}
.edge::after
{
    content: "";
    position: absolute;
    inset: 30px;
    border: 3px dotted #00f376;
}

@keyframes edgeani {
    0%{
        background-position: 0;
    }

    100%{
        background-position: 15px;
    }
}

.edgelast{
    position: relative;
    width: 300px;
    height: 400px;
     background: linear-gradient(45deg,#00f376 10%,
    transparent 10%, transparent 50%,#00f376 50%,#00f376 60%,
    transparent 60%, transparent 100%); 
     background-size: 15px 15px;
    box-shadow: 0 0 0 10px black,0 0 0 14px #00f376; 
    animation: edgeani 0.5s linear infinite;
}

.trying{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
    z-index: 1;
    margin-left: -120px;
    margin-top: -20px;
    font-size: x-large;
    text-transform: capitalize;
    opacity: 0;
}

.edgelast:hover .trying{
    opacity: 1;
}

.edgelast::before
{
    content: "";
    position: absolute;
    inset: 20px;
    background: black;
}
.edgelast::after
{
    content: "";
    position: absolute;
    inset: 30px;
    /* border: 3px dotted #00f376; */
    background-image: url(../Imges/team-1.jpg);
    background-position: center;
    background-size: cover;
}


@keyframes edgeani {
    0%{
        background-position: 0;
    }

    100%{
        background-position: 15px;
    }
}

.bord{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    overflow: hidden;
    gap: 50px;
}


.middle{
    position: relative;
    width: 300px;
    height: 400px;
     background: linear-gradient(45deg,#00f376 10%,
    transparent 10%, transparent 50%,#00f376 50%,#00f376 60%,
    transparent 60%, transparent 100%); 
     background-size: 15px 15px;
    box-shadow: 0 0 0 10px black,0 0 0 14px #00f376; 
}

.middle::before
{
    content: "Text";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    position: absolute;
    inset: 20px;
    background: black;
}
.middle::after
{
    content: "";
    position: absolute;
    inset: 30px;
    border: 3px dotted #00f376;
}

.middle2{
    position: relative;
    width: 300px;
    height: 400px;
     background: linear-gradient(45deg,#00f376 10%,
    transparent 10%, transparent 50%,#00f376 50%,#00f376 60%,
    transparent 60%, transparent 100%); 
     background-size: 15px 15px;
    box-shadow: 0 0 0 10px black,0 0 0 14px #00f376; 
    animation: edgeani 0.5s linear infinite;
}

.middle2::before
{
content: "";
position: absolute;
inset: 20px;
background: black;
}
.middle2::after
{
content: "";
position: absolute;
inset: 30px;
border: 3px dotted #00f376;
}

@keyframes edgeani {
0%{
    background-position: 0;
}

100%{
    background-position: 15px;
}
}

/* .................................. */

.maingallery{
    padding-bottom: 50px;
    /* margin-left: 10rem;
    margin-right: 7rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: roll 20s linear infinite;
}

@keyframes roll{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

/* .gallery img{
    width: 100%;
} */


 .gallery span{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
}

.gallery span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/* ......................................... */

.wrapper{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    padding-bottom: 50px;
}

.statictext{
    font-size: 60px;
    padding-top: 5px;
}

.dynamictext{
    margin-left: 20px;
     height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamictext li{
    list-style: none;
    color: #00f376;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: type 5s steps(4) infinite;
}

@keyframes type{
    100%{
        top: -360px;
    }
}

/* .dynamictext li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid #00f376;
    left: 0;
    background: black;
    animation: typing 3s steps(21) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
    }
} */


.load{
    position: absolute;
    top: 50;
    left: 50%;
    padding-bottom: 50px;
}

.preloader li{
    display: inline;
    font-size: 50px;
    letter-spacing: 15px;
    text-transform: uppercase;
    animation: pre-load 3s linear infinite;
}

.preloader li:nth-child(1){
    animation-delay: .2s;
}

.preloader li:nth-child(2){
    animation-delay: .4s;
}

.preloader li:nth-child(3){
    animation-delay: .6s;
}

.preloader li:nth-child(4){
    animation-delay: .8s;
}

.preloader li:nth-child(5){
    animation-delay: 1s;
}

.preloader li:nth-child(6){
    animation-delay: 1.2s;
}

.preloader li:nth-child(7){
    animation-delay: 1.4s;
}

.preloader li:nth-child(8){
    animation-delay: 1.6s;
}

@keyframes pre-load{
    0%{
        color: #484848;
        text-shadow: none;
    }

     20%{
        color: #484848;
        text-shadow: none;
    } 

    40%{
        color: aqua;
        text-shadow: 0 0 7px aqua;
    }

     60%{
        color: #484848;
        text-shadow: none;
    }

    80%{
        color: #484848;
        text-shadow: none;
    } 

    100%{
        color: #484848;
        text-shadow: none;
    }
}

/* .................................................... */



.corn{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    perspective: 1000px;
    height: 60vh;
    width: 30vh;
}

.born{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    /* transform: rotateY(30deg); */
    animation: rotate 5s infinite;
}


@keyframes rotate{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }

    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }

    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }

    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }

    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}

.born:hover #front{
    transform: translateZ(180px) rotateY(360deg);
}

.born:hover #back{
    transform: translateZ(-180px) rotateY(360deg);
}

.born:hover #left{
    right: 180px;
}

.born:hover #right{
    left: 180px;
}

.born:hover #top{
    bottom: 180px;
}

.born:hover #bottom{
    top: 180px;
}

 .card{
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    font-size: 32px;
     box-sizing: border-box;
    position: absolute;
    background: #00f376;
    border: 2px solid white;
    transition: all 1s;
} 

#left{
    right: 125px;
    transform: rotateY(-90deg);
}

#right{
    left: 125px;
    transform: rotateY(90deg);
}

#top{
    bottom: 125px;
    transform: rotateX(90deg);
}

#bottom{
    top: 125px;
    transform: rotateX(-90deg);
}

 #front{
    transform: translateZ(125px);
}

#back{
    transform: translateZ(-125px);
}

/* ................................................. */

.corn1{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    perspective: 1000px;
    height: 60vh;
    width: 30vh;
}

.born1{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    /* transform: rotateY(30deg); */
    animation: rotate2 5s infinite;
}

.born1 img{
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@keyframes rotate2{
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }

    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }

    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }

    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }

    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}

#left2{
    right: 125px;
    transform: rotateY(-90deg);
}

#right2{
    left: 125px;
    transform: rotateY(90deg);
}

#top2{
    bottom: 125px;
    transform: rotateX(90deg);
}

#bottom2{
    top: 125px;
    transform: rotateX(-90deg);
}

 #front2{
    transform: translateZ(125px);
}

#back2{
    transform: translateZ(-125px);
}

/* ...................................................... */

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.wraparea{
    animation: fun 10s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
}

.wraparea div{
    position: absolute;
    width: 200px;
    height: 200px;
}

.wrapbox1{
    background-image: url(../Imges/gallery-1.jpg);
    background-size: cover;
    background-position: center;
    transform: translateZ(100px);
}

.wrapbox2{
    background-image: url(../Imges/gallery-2.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateY(90deg) translateZ(100px);
}

.wrapbox3{
    background-image: url(../Imges/gallery-3.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.wrapbox4{
    background-image: url(../Imges/gallery-4.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.wrapbox5{
    background-image: url(../Imges/gallery-5.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.wrapbox6{
    background-image: url(../Imges/gallery-6.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes fun{
    from,to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16%{
        transform: rotateY(-90deg);
    }

    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }

    83%{
        transform: rotateX(90deg);
    }
}

/* .............................................. */

.topcard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.car{
    height: 400px;
    width: 300px;
    background: white;
    border-radius: 20px;
    position: relative;
    color: black;
}

.car::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(120deg, #0034c4, #484848);
    right: 0;
    border-radius: 0 0 0 158px;
    box-shadow: 0 5px 3px #ff0000;
}

.car:hover::before{
    height: 100%;
    width: 100%;
}

.car h1{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 65px;
    color: white;
}

/* .............................. */

.mage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hov img{
    width: 100%;
    border-radius: 15px;
}

.hov{
    position: relative;
    width: 80%;
    border-radius: 15px;
}

.hov::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient( #00f37650, #ffff0050); */
    border-radius: 15px;
    opacity: 0;
    animation: see 2s linear infinite;
}

@keyframes see{
    from{
        background:linear-gradient( #00f37650, #ffff0050) ;
    }

    to{
        background: linear-gradient(#0034c450, #00f37650);
    }
}

.hov:hover::before{
    opacity: 1;
}

/* ........................................... */

.hov1 img{
    width: 100%;
    border-radius: 15px;
}

.hov1{
    position: relative;
    width: 80%;
    border-radius: 15px;
    margin-top: 50px;
}

.hov1 span{
    position: absolute;
    width: 150px;
    height: 150px;
    /* background: #62baea; */
    left: 0;
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hov1 span::before{
    content: "Married";
    position: absolute;
    width: 150%;
    height: 40px;
    background: #0000ff;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 0 5px 10px #000000;
}

.hov1 span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    /* background: #ff0000; */
    background: #0000ff;
    z-index: -1;
    /* ....fixing the uppercurve... the hov1 span width 150px - 10px span after width=140px */
    box-shadow: 140px -140px #0000ff;
}

/* ....................................................... */

.reflect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.reflectext{
    font-size: xx-large;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}

.reflectext h1::before{
    /* content: attr(data-text); */
    content: "Reflection";
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: .865em;
    background: linear-gradient(0deg,#ffffff, transparent 80%);
    background-clip: text;
    color: transparent;
    opacity: 0.6;
}

/* ............................................... */

.upcard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.cardup{
    position: relative;
    background: #ffffff;
    color: #0000ff;
    width: 400px;
    height: 215px;
    transition: .3s ease-in-out;
}

.cardup:hover{
    height: 420px;
}

.pic{
    position: relative;
    top: -60px;
    left: 50px;
    z-index: 1;
}

.pic img{
    width: 300px;
    border-radius: 10px;
}

.con{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
     visibility: hidden; 
    /* opacity: 0; */
    /* ...visibility or opacity anyone */
    transition: .3s ease-in-out;
}

.cardup:hover .con{
    visibility: visible;
    /* opacity: 1; */
    margin-top: -40px;
    transition-delay: .3s;
}

/* ................................... */

/* .........upload image and contents letter.......... */

.upcard1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
}

.cardup1{
    position: relative;
    width: 350px;
    height: 300px;
    color: blue;
    background: #ffffff;
    border-radius: 20px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cardup1:hover{
     height: 400px;
    transform: scale(1.1); 
    /* ....removing this two will help in me getting the other project i didnt get... */
}

.pic1{
   position: absolute; 
   width: 300px;
   height: 220px;
   top: 20px;
   background: #0000ff;
   border-radius: 12px;
   transition: .5s;
}

.cardup1:hover .pic1{
     top: -100px;
    scale: 0.75; 
    /* ..removing this top and scale will make the image fixed for other project i didnt get */
} 

/* ...........upload image and content now after the above settings */

.pic1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    /* object-fit: cover; */
}

.con1{
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 270px;
    overflow: hidden;
    height: 25px;
    transition: .5s;
}

.cardup1:hover .con1{
    height: 250px;
    /* ..this top is to overup some spaces up done by cardup1 hover */
    top: 130px;
}

.con1 h1{
    font-weight: 700;
    color: #00f376;
}

.con1 p{
    background: #00f37650;
}

/* ................................... */

.cardtoggle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle{
    position: relative;
    width: 400px;
    height: 400px;
    background: #0000ff50;
    padding-bottom: 50px;
}

/* ......................... */

.child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
}

.childbox{
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
}

.childimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: .5s;
    transition-delay: .2s;
}

.childimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.childbox:hover .childimg{
    transform: rotateX(-90deg);
    opacity: 0;
    transition-delay: .2s;
}

.childcontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff0050;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: .5s;
    transform: rotateX(90deg);
    opacity: 0;
}

.childbox:hover .childcontent{
    transform: rotateX(0);
    opacity: 1;
    transition-delay: .2s;
}

/* ........................... */

.parentgallery{
    /* background: #00f376; */
    display: flex;
    justify-content: center;
   align-items: center; 
}

.animecontainer{
    display: flex;
    width: 70%;
    height: 80%; 
    /* margin: 5% auto 0; */
    padding: 20px;
}

.animegallery{
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
    margin: 0 1%;
} 

.animegallery img{
    width: 100%;
     height: 100%; 
    object-fit: cover; 
    transition: .5s;
}

.animegallery:hover{
    flex-basis: 50%;
}

.active{
    flex-basis: 50%;
}

.animecontainer:hover .active{
    flex-basis: 0;
}

.animegallery:nth-child(1):hover{
    flex-basis: 50%;
}

/* .................................................. */

.hovanime{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.hoveranime{
    position: relative;
    width: 350px;
    height: 350px;
}

.hoveranime img{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 0;
    transition: 1s ease-in-out;
    
}

.hoveranime img.img-front:hover{
    opacity: 0;
    cursor: pointer;
}

/* ........................................................ */

.mainpepsi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.pepsicircle{
    position: relative;
    width: 600px;
    height: 350px;
    /* background: #00f37650; */
    /* ..to blend in with the background color or make it the same color with the back. */
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.pepsi{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    /* background: #ff0000;
    clip-path: circle(120px at center);
    transition: .5s; */
}

/* ..........it can still work without ::before..... */

.pepsi::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    clip-path: circle(120px at center);
    transition: .5s;
}

 .pepsi:hover::before{
    clip-path: circle(400px at center);
    background: #0000ff;
}  


/* .pepsicircle:hover .pepsi::before{
    clip-path: circle(400px at center);
    background: #0000ff;
}  */

/* .pepsi:hover{
    clip-path: circle(400px at center);
    background: #0000ff;
} */

.pepsicircle img{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: .5s;
}

.pepsicircle:hover img{
    /* top: 72%; */
    /* ...top 72% will move the img downward, giving room for content. this is good for mobile responsive.. */
    
    left: 72%;
    height: 350px;
}

.nowcontent{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: .5s;
    visibility: hidden;
    /* .... or opacity........ */
}

.pepsicircle:hover .nowcontent{
     left: 0;
     visibility: visible;
}

.nowcontent h2{
   text-transform: uppercase; 
   font-size: xx-large;
   line-height: 50px;
}

/* ................................................... */

.mainvid{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nowcube{
    position: absolute;
    top: calc(50%-200px);
    left: calc(50%-200px);
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
}

.vidcube{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px,-50px,150px);
}

.vidcube span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #00000050;
    background: #ccc;
}

.vidcube span:nth-child(1){
    transform: rotateX(0deg) translate3d(0,0,200px);
}

.vidcube span:nth-child(2){
    transform: rotateY(90deg) translate3d(0,0,-200px);
}

.vidcube span:nth-child(2) video{
    transform: rotateY(180deg);
}

.vidcube span:nth-child(3){
    transform: rotateX(90deg) translate3d(0,0,200px);
}

.vidcube span video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainvid video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ............................................................ */

.mainvid1{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nowcube1{
    position: absolute;
    top: calc(50%-200px);
    left: calc(50%-200px);
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
}

.vidcube1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px,-50px,150px);
}

.vidcube1 span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #00000050;
    background: #ccc;
}

.vidcube1 span:nth-child(1){
    transform: rotateX(0deg) translate3d(0,0,200px);
}

.vidcube1 span:nth-child(2){
    transform: rotateY(90deg) translate3d(0,0,-200px);
}

.vidcube1 span:nth-child(2) img{
    transform: rotateY(180deg);
}

.vidcube1 span:nth-child(3){
    transform: rotateX(90deg) translate3d(0,0,200px);
}

.vidcube1 span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ............................................................ */